@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

header{
    background-color: #782221;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

body{
    width: 1160px;
    margin: auto;
    border-right: 2px solid black ;
}

img{
    width: 100px;
    border: none black 1px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px white;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

main{
    background-color: #782221;
}

h1{
    font-size: 1.2em;
    font-family: Lato, sans-serif;
    word-spacing: 0.3em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2{
    font-size: 1em;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

h3{
    width: 250px;
    height: 20px;
    padding-left: 10px;
    background-color: #dbc2a4;
    color: black;
    font-family: Lato, sans-serif;
    font-size: medium;
    font-weight: bold;
}

address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    background-color: #2c1d27;
    font-family: Raleway, sans-serif;
}

.hover-1:hover{
    text-decoration: underline;
}

.hover-2:hover{
    text-decoration: underline;
}

.hover-3:hover{
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}

.texte{
    text-align: justify;
    text-indent: 30px;
    padding-left: 10px;
    font-size: smaller;
    font-family: Raleway, sans-serif;
    color: white;
    padding-right: 10px;
    width: 250px;
}
.texte-2{
    font-size: smaller;
    font-family: Raleway, sans-serif;
    color: white;
    margin-top: -20px;
}

section{
    display: flex;
    flex-direction: row;
}
div{
    display: flex;
    flex-direction: column;
}

.left{
    display: flex;
    flex-basis: 30%;
}

.right{
    display: flex;
    flex-basis: 70%;
    background-color: white;
    overflow: scroll;
}

.right-titles{
    border-left: 5px solid #782221;
    margin-left: 20px;
}

footer{
    height: 100px;
    background-color: #782221;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    font-family: Lato, sans-serif;
    font-size: smaller;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 0px;
}

.texte-3{
    font-family: Raleway, sans-serif;
    font-size: smaller;
    padding-left: 20px;
    margin-top: 0px;
}

.texte-4{
    font-family: Raleway, sans-serif;
    font-size: smaller;
    padding-left: 60px;
    margin-top: 0px;
}

.icone{
    width: 40px;
    margin: 10px;
    border-radius: 0%;
    box-shadow: none;
    background-color: #782221;
}

.flex-footer{
    display: flex;
    flex-direction: row;
}

.cursor{
    cursor: zoom-in;
    margin: auto;
}


